<ion-view view-title="About">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider text-center">
                <h1>ToDo Sample</h1>
            </div>
            <div class="item text-center item-text-wrap">
                version 1.0<br/><br/>
                Designed & Developed by<br/>
	            Justin James <br/>Blog: <a href="http://digitaldrummerj.me" target="_blank">http://digitaldrummerj.me</a> <br/>Twitter: <a href="http://twitter.com/digitaldrummerj" target="_blank">@digitaldrummerj</a><br/>
				for <a href="www.meetup.com/Ionic-AZ/">Ionic-AZ Meetup</a><br/> <br/>
                Built using: <br/>
		  	<a href="http://ionicframework.com">Ionic</a>, JavaScript, <a href="http://angularjs.org">AngularJS</a>, Cordova, & <a href="http://firebase.com">Firebase</a><br/><br/>
            </div>
        </div>
    </ion-content>
</ion-view>